.side_menu {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .side_menu_item {
    padding: 10px 20px;
    background-color: #f8f8f8;
    > a {
      color: #000;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
    }
  }

  .side_menu_item.active {
    background-color: #56ac91;
    > a {
      color: #fff;
    }
  }

  .side_menu_item.is_sub_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sub_side_menu_item {
    padding: 10px 20px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > a {
      font-size: 14px;
      color: #000000;
      text-decoration: none;
    }
  }

  .sub_side_menu_item.active {
    background-color: #56ac91;
    > a {
      color: #fff;
    }
  }

  .sub_side_menu_item.third_layer {
    background-color: #d9d9d9;

    > a {
      transform: translateX(20px);

      &:hover {
        font-weight: 700;
      }
    }
  }

  .sub_side_menu_item.active {
    background-color: #56ac91;
    > a {
      color: #fff;
    }
  }
}
