// .performance_table {
//   padding: 20px 0px;
//   width: 100%;
//   > tbody {
//     > tr {
//       > td {
//         border-radius: 10px !important;
//         margin-bottom: 10px;
//         height: 140px;
//         padding-left: 5px;
//         padding-right: 5px;
//         box-shadow: 3px 3px 9px #bdec9e;
//         background: rgba(255, 255, 255, 0.9);

//         > strong {
//           font-size: 16px;
//           font-weight: 700;
//         }

//         > span {
//           font-size: 14px;
//           font-weight: 700;
//           color: #999;
//         }

//         font-size: 22px;
//         font-weight: 700;
//         color: #000;
//         line-height: 1.6;
//         text-align: center;
//         padding: 15px;
//         > div {
//           display: flex;
//           justify-content: space-around;
//           align-items: center;
//           width: 100%;
//           gap: 2px;

//           > div {
//             padding: 15px;
//             width: 100%;
//           }
//         }
//       }

//       .no_border_td {
//         border: none;
//         padding: 0px;
//         box-shadow: none;
//         background: rgba(255, 255, 255, 0);

//         > div {
//           > div {
//             border-radius: 10px !important;
//             height: 140px;
//             padding-left: 5px;
//             padding-right: 5px;
//             box-shadow: 3px 3px 9px #bdec9e;
//             background: rgba(255, 255, 255, 0.9);
//           }
//         }
//       }
//     }

//     .row_header {
//       > td {
//         height: 50px;
//         background: rgba(255, 255, 255, 1);
//         color: #000;
//       }
//     }
//   }
// }

.performance_table {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .performance_table_grid_env {
    display: grid;
    grid-template-areas:
      "p_header p_header p_header p_header p_header p_header"
      "p_container_1 p_container_1 p_container_2 p_container_2 p_container_3 p_container_3"
      "p_container_4 p_container_4 p_container_5 p_container_5 p_container_6 p_container_6"
      "p_container_7 p_container_7 p_container_7 p_container_8 p_container_8 p_container_8";
    gap: 20px;

    .p_header {
      grid-area: p_header;
      border-radius: 10px;
      box-shadow: 3px 3px 9px #bdec9e;
      background: rgba(255, 255, 255, 1);
      padding: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      > strong {
        font-size: 22px;
        font-weight: 700;
      }
    }

    .p_container {
      border-radius: 10px;
      box-shadow: 3px 3px 9px #bdec9e;
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      > span {
        font-size: 14px;
        font-weight: 700;
        color: #999;
        text-align: center;
      }

      .inner_row {
        display: flex;
        align-items: flex-end;
        gap: 2px;
      }
    }

    .p_container_1 {
      grid-area: p_container_1;
    }
    .p_container_2 {
      grid-area: p_container_2;
    }
    .p_container_3 {
      grid-area: p_container_3;
    }
    .p_container_4 {
      grid-area: p_container_4;
    }
    .p_container_5 {
      grid-area: p_container_5;
    }
    .p_container_6 {
      grid-area: p_container_6;
    }
    .p_container_7 {
      grid-area: p_container_7;
    }
    .p_container_8 {
      grid-area: p_container_8;
    }
  }

  .performance_table_grid_social {
    display: grid;
    grid-template-areas:
      "p_header p_header p_header p_header p_header p_header"
      "p_container_1 p_container_1 p_container_1 p_container_2 p_container_2 p_container_2"
      "p_container_3 p_container_3 p_container_3 p_container_4 p_container_4 p_container_4"
      "p_container_5 p_container_5 p_container_6 p_container_6 p_container_7 p_container_7";
    gap: 20px;

    .p_header {
      grid-area: p_header;
      border-radius: 10px;
      box-shadow: 3px 3px 9px #feddae;
      background: rgba(255, 255, 255, 1);
      padding: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      > strong {
        font-size: 22px;
        font-weight: 700;
      }
    }

    .p_container {
      border-radius: 10px;
      box-shadow: 3px 3px 9px #feddae;
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      > span {
        font-size: 14px;
        font-weight: 700;
        color: #999;
        text-align: center;
      }

      .inner_row {
        display: flex;
        align-items: flex-end;
        gap: 2px;
      }
    }

    .p_container_1 {
      grid-area: p_container_1;
    }
    .p_container_2 {
      grid-area: p_container_2;
    }
    .p_container_3 {
      grid-area: p_container_3;
    }
    .p_container_4 {
      grid-area: p_container_4;
    }
    .p_container_5 {
      grid-area: p_container_5;
    }
    .p_container_6 {
      grid-area: p_container_6;
    }
    .p_container_7 {
      grid-area: p_container_7;
    }
  }

  .performance_table_grid_governance {
    display: grid;
    grid-template-areas:
      "p_header p_header p_header p_header p_header p_header"
      "p_container_1 p_container_1 p_container_2 p_container_2 p_container_3 p_container_3"
      "p_container_4 p_container_4 p_container_5 p_container_5 p_container_6 p_container_6";
    gap: 20px;

    .p_header {
      grid-area: p_header;
      border-radius: 10px;
      box-shadow: 3px 3px 9px #a3e1fe;
      background: rgba(255, 255, 255, 1);
      padding: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      > strong {
        font-size: 22px;
        font-weight: 700;
      }
    }

    .p_container {
      border-radius: 10px;
      box-shadow: 3px 3px 9px #a3e1fe;
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      > span {
        font-size: 14px;
        font-weight: 700;
        color: #999;
        text-align: center;
      }

      .inner_row {
        display: flex;
        align-items: flex-end;
        gap: 2px;
      }
    }

    .p_container_1 {
      grid-area: p_container_1;
    }
    .p_container_2 {
      grid-area: p_container_2;
    }
    .p_container_3 {
      grid-area: p_container_3;
    }
    .p_container_4 {
      grid-area: p_container_4;
    }
    .p_container_5 {
      grid-area: p_container_5;
    }
    .p_container_6 {
      grid-area: p_container_6;
    }
    .p_container_7 {
      grid-area: p_container_7;
    }
  }
}
