.custom_bradcrumbs {
  transform: translateY(4px);

  > ol {
    > li {
      > a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #555;
        text-decoration: none;
        font-size: 13px;
        line-height: 1.6;
        font-weight: 200;
        &:hover {
          color: #005752;
          > svg {
            color: #005752;
          }
        }

        > svg {
          font-size: 18px;
          transform: translateX(-7px);
          color: #555;
        }
      }

      .active {
        color: #005752;
      }

      .disabled {
        pointer-events: none;
        cursor: default;
      }
    }
  }
}
