.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fff;

  .header {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    position: fixed;
    box-shadow: 0 0 15px 5px #bbb;
  }
}
