.video_with_more_effect_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #eaeaea;

  > div {
    > h3 {
      color: #555;
    }
  }

  .video_with_more_effect {
    width: 100%;
    position: relative;
    overflow: hidden;

    > iframe {
      width: 100%;
      height: 315px !important;
      border: 0px;
    }

    .more_text {
      position: absolute;
      width: 100%;
      height: 320px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;

      > a {
        color: #ffffff;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        transform: translateY(20px);
        transition: transform 0.5s ease-in-out;
      }

      &:hover {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        > a {
          transform: translateY(0px);
          transition: transform 0.5s ease-in-out;
        }
      }
    }
  }
}
