.news_container {
  .news_item {
    padding: 20px 0px;
    border-bottom: 1px dashed #cccccc;
    > a {
      color: #333;
      font-size: 22px;
      margin: 0 0 10px;
      line-height: 1.4;
      font-weight: 700;
      text-decoration: none;
    }

    .read_more {
      color: #333;
      font-size: 14px;
      font-weight: 700;
      text-decoration: none;
      font-size: 13px;
      font-weight: 400;
      font-style: italic;
      display: inline-block;
      color: #6ad726;
    }

    > div {
      > p {
        color: #888;
        padding: 0 2px;
        font-size: 12px;
        display: inline-block;
      }
    }
  }

  .pagination_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
